<h1>New Post</h1>
<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>